/*@font-face {
  font-family: "Shrikhand";
  src: url("shrikhand/Shrikhand-Regular.otf");
}*/

@font-face {
  font-family: "aleo";
  src: url("aleo/Aleo-Regular.otf");
}

@font-face {
  font-family: ChunkFive;
  src: url("ChunkFive/ChunkFive.otf");
}

#wrapperdiv {
  display: flex;
  flex-direction: column;
  background-color: #AED9E5;
}

#inputDiv {
  border: 2px solid #0C874F;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: aleo;
  background-color: #8BC9E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 225px;
  border: none;
}

.categories {
  font-family: aleo;
  border: 2px solid #0C874F;
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
  background-color: #8BC9E5
}

.deetsdiv {
  font-family: aleo;
  border: 2px solid #0C874F;
  height: 50%;
  width: 180px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
  padding: 2px;
  cursor: pointer;
  background-color: #8BC9E5;
}

#categoryDiv {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.seedetails {
  margin-top: -5px;
  cursor: pointer;
}

#lessThanHundred {
  width: 60%;
  height: 60%;
  border: solid #0C874F 3px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

#noMoney {
  width: 60%;
  height: 60%;
  border: solid #0C874F 3px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exclamation {
  width: 30%;
  height: 30%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


#userBudgetInput {
  border: 2px solid #0C874F;
  background-color: #58BC7F;
  margin-top: auto;
}

#budgetInputDiv {
  text-align: center;
  padding: 50px;
}

#header {
  text-align: center;
  color: #0C874F;
  font-family: ChunkFive;
  font-size: 1.8em;
  border-bottom: 3px solid #0C874F;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 15px;
}

#budgetSubmitButton {
  background-color: #0C874F;
  font-family: aleo;
  width: 150px;
  height: 20%;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

body {
  background-color: #AED9E5;
}

p {
  font-family: aleo;
  text-align: center;
}

#categoryChoice {
  background-color: #fff;
}

#row1 {
  display: flex;
  flex-direction: row;
}

#row2 {
  display: flex;
  flex-direction: row;
}

.deets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formsubmit {
  background-color: #0C874F;
  color: #AED9E5;
  width: 30%;
  height: 15%;
  padding-top: 20px
  padding-bottom: 20px;
  border-radius: 5px;
}

input {
  background-color: #8BC9E5;
  color: #0C874F;
  border: none;
  padding: 5px;
  border-bottom: solid 2px #0C874F
}

.deetsList {
  list-style: none;
  text-align: left;
  margin-right: 15px;
}

#budgetResetButton {
  background-color: #0C874F;
  color: #AED9E5;
  width: 30%;
  height: 15%;
  padding-top: 20px
  /* padding-bottom: 20px; */
  border-radius: 5px;
  cursor: pointer;
  }

  #seeDetailsButton {
    background-color: #0C874F;
    color: #AED9E5;
    width: 30%;
    height: 15%;
    padding-top: 20px
    /* padding-bottom: 20px; */
    border-radius: 5px;
    cursor: pointer;
}

#budgetBuddy1 {
  height: 30%;
  width: 30%;
  margin-top: 75px;

}

#budgetBuddy2 {
  height: 30%;
  width: 30%;
}

@media only screen and (min-width: 1160px) {
  #categoryDiv {
    display: flex;
    flex-direction: row;
  }
  #inputDiv {
    margin-right: 20%;
    margin-left: 20%;
  }

  .deetsdiv {
    margin-right: 40px;
    margin-left: 40px; 
    margin-top: 10px; 
  }

  #budgetBuddy2 {
    margin-top: 10px; 
    height: 15%;
    width: 15%;
    margin-left: 25px;
  }

}


@media only screen and (min-width: 768px) {
  #inputDiv {
    margin-right: 10%;
    margin-left: 10%;
  }
  #header {
    font-size: 2.5em;
  }
  .deets {
    flex-direction: row;
    justify-content: center;
  }

  #budgetSubmitButton {
    width: 200px;
  }

  #budgetBuddy2 {
    margin-top: 10px; 
    height: 15%;
    width: 15%;
    margin-left: 25px;
  }

  .deetsdiv {
    margin-right: 40px;
    margin-left: 40px; 
    margin-top: 10px; 
  }

}
