#wrapperdiv {
  display: flex;
  flex-direction: column;
  background-color: #0C874F;
}
#inputDiv {
  border: 2px solid black;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-family: Tahoma;
  background-color: #58BC7F;
}
input, select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 225px;
}
.categories {
  font-family: Tahoma;
  border: 2px solid black;
  height: 120px;
  width: 250px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#categoryDiv {
  display: flex;
  text-align: center;
  justify-content: center;
}
.seedetails {
  margin-top: -5px;
}
#lessThanHundred {
    width: 60%;
    height: 60%;
    border: solid black 3px;
    padding: 20px;
    margin: 0 auto;
    text-align: center; */
}
#noMoney{
    width: 60%;
    height: 60%;
    border: solid black 3px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
.exclamation {
    width: 30%;
    height: 30%;
    text-align: center;
}
span {
    float: right;
}
#userBudgetInput {
    border: 2px solid black;
}
#budgetInputDiv {
    text-align: center;
}
#header {
    text-align: center;
}
#budgetSubmitButton {
    background-color: green;
}
